.container-pacientes {
  margin: 4em 0 0 6em;
  border: solid 1px #ccc;
  padding: 0.7em;
  border-radius: 5px;
  width: 270vh;
}

.container-pacientes-active {
  margin-left: 16em;
  transition: 0.5s;
}

.card-lista-pacientes {
  width: 140vh;
}

.busca {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.button-cadastro-paciente {
  background-color: #3734EB;
  border-color: #3734EB;
  margin-bottom: 2.3em;
}

