.container-pacientes {
  margin: 4em 0 0 10em;
  width: 100vh;
}

.container-pacientes-active {
  margin: 4em 0 0 16em;
  transition: 0.5s;
}

.card-lista-pacientes {
  width: 140vh;
}

.busca {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.button-cadastro-paciente {
  background-color: #3734EB;
  border-color: #3734EB;
  margin-bottom: 2.3em;
}

