.titulo-principal {
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: #f1f0f0;
    padding: 0.7em;
}

.container-form-horarios {
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: #f1f0f0;
    padding: 0.7em;
}

.container-horarios-cadastrados {
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: #f1f0f0;
    padding: 0.7em;
}